<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form th:action="@{/registration}" th:object="${userForm}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="confirmPassword">Подтверждение пароля:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
    </div>
    <div th:if="${passwordError}" style="color: red;">
        <p th:text="${passwordError}"></p>
    </div>
    <div th:if="${usernameError}" style="color: red;">
        <p th:text="${usernameError}"></p>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>
